menu "Project configuration"
    config WIFI_AP_MODE_ENABLED
        bool "Access point mode"
        default y
        help
            Run in access point mode. Disable to run in station mode.

    config WIFI_SSID
        string "WiFi SSID"
        default "NOKIA-3K9N4H1"
        help
            SSID (network name) for the example to connect to.
        
    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
        
    config WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 1
        depends on WIFI_AP_MODE_ENABLED 
        help
            WiFi channel (network channel) for the example to use.
    
    config MAX_STA_CONN
        int "Maximal STA connections"
        default 4
        depends on WIFI_AP_MODE_ENABLED 
        help
            Max number of the STA connects to AP.

    config AUDIO_IN_GPIO
        int "Audio IN GPIO Pin"
        range 1 36
        default 35 if IDF_TARGET="esp32"
        default 7 if IDF_TARGET="esp32s3"
        help
            Audio IN GPIO Pin to use.

    config AUDIO_OUT_GPIO
        int "Audio OUT GPIO Pin"
        range 1 30
        default 18
        help
            Audio OUT GPIO Pin to use.

    config PTT_GPIO
        int "PTT GPIO Pin"
        range 1 30
        default 13
        help
            PTT GPIO Pin to use.

    config STATUS_LED_WS2812B
        bool "Use WS2812B for status LED. Otherwise regular LED will be used."
        default n if IDF_TARGET="esp32"
        default y if IDF_TARGET="esp32s3"
        help
            Use WS2812B for status LED. Otherwise regular LED will be used.

    config STATUS_LED_GPIO
        int "Status LED GPIO Pin"
        range 1 30
        default 22 if IDF_TARGET="esp32"
        default 21 if IDF_TARGET="esp32s3"
        help
            Audio OUT GPIO Pin to use.

    config MORSE_CODE_BEACON_ENABLED
        bool "Morse code beacon enabled"
        default y
        help
            Morse code beacon enabled.

    config MORSE_CODE_BEACON_TEXT
        string "Morse code beacon text"
        default "--- -.- - . ... - - . ... -"
        help
            Morse code beacon text.

    config MORSE_CODE_BEACON_PERIOD_SECONDS
        int "Morse code beacon repeat period in seconds"
        range 5 65535
        default 25
        help
            Morse code beacon repeat period in seconds.
endmenu